*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@font-face{
    font-family:"Arco";
    src:url("../fonts/ARCO.ttf") format("truetype");
}

canvas{
    position:relative;
}

#canvas{
    background-color:black;
}

body{
    background-color: #242424;
}